body {
    background-color: #a7a5a5;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0.3fr);
    justify-items: center;
    align-items: center;
}

.results div {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.result-score {
    margin-left: 0.1rem;
    font-size: 2.5rem;
    color: #5c5c5c;
}

.result-selection{
    opacity: 0.5;

}

.result-selection.winner {
    opacity: 1;
    font-size: 3.7rem;

}